@model TextComparator.ViewModel.Mistake

@{
    ViewData["Title"] = "Home Page";

}


@if (((string)ViewData["requestForm"]) == "index")
{
    <div class="row">
        <div class="col-md-6">
            <div class="left_box">
    
                <div class="text_result" name="stringOne">
                    @foreach (var row in Model.MistaceOrigin)
                    {

                        <span class="title">@row.Text</span><br>
                        <span class="RowText">@row.RowText</span><br>
                        <span class="WordId">@row.WordId</span><br>
                       



                    }
                </div>
        </div>
    </div>
        <div class="col-md-6">
            <div class="right_box">
                <textarea name="stringTwo"></textarea>
            </div>
        </div>
    </div>
}












<form action="/" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="left_box">
                <textarea name="stringOne"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right_box">
                <textarea name="stringTwo"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success text-center">Find Differnce</button>
</form>

<script>
   
    
       
    var WordId = $('.WordId').text();
    var RowText = $('.WordId').text();
    var text = $('.title').text();
    var split = text.split(' ');
    console.log(split);

    for (var i = 0; i < text.length; i++) {
        if (console.log(text[WordId] == RowText)) {
            text[WordId] = '<strong>' + text[WordId] + '<strong>';
        }
    }
            //text[0] = '<strong>' + text[WordId] + '<strong>';
            

        
      
           

   


   

</script>

